{% extends "supporter/LectureStud.html" %}

{% block content %}

        제목 : {{ board.board_tittle }}<br>
        내용 : {{ board.board_info }}<br>
        <a href="{{ board.board_file.url }}">파일 : {{ board.board_file }}</a><br>

    
    <a href = "{% url 'supporter:BoardListStud' user.pk lect.pk %}" method = 'get'>돌아가기</a>

    {% block ReplyList %}
    <br><br><hr>
    {% if replyList %}
        {% for rep in replyList %}
            <form action = "{% url 'supporter:ReplyStudDel' user.pk lect.pk board.pk rep.pk %}" method = 'post'>
                {% csrf_token %}
                {% if rep.reply_stud %}
                    <h5>작성자S : {{rep.reply_writer}}</h5>
                {% else %}
                    <h5>작성자P : {{rep.reply_writer}}</h5>
                {% endif %}
                    <h5>내용 : {{rep.reply_info}}</h5>
                    
                {% if rep.reply_file != "파일없음" %}
                    <h5><a href="{{ rep.reply_file.url }}">파일 : {{rep.reply_file}}</a></h5>
                {% endif %}
                <input type='submit' value='댓글 삭제'/><br>
            </form>
            <hr>
        {% endfor %}
    {% else %}
        <h2>댓글이 없습니다.</h2><hr>
    {% endif %}
        <form action = "{% url 'supporter:AddReplyStud' user.pk lect.pk board.pk %}" enctype="multipart/form-data" method = 'post'>
            {% csrf_token %}
            <h3>댓글 달기</h3>         
            {% if user.stud_id %}
                작성자S : {{user.stud_name}} [{{form.reply_stud}}, {{form.reply_board}}]<br>
            {% else %}
                작성자P : {{user.prof_name}} [{{form.reply_prof}}, {{form.reply_board}}]<br>
            {% endif %}
            댓글 내용<br>{{form.reply_info}}<br>
            파일 첨부 :  {{form.reply_file}}<br>
            <input type='submit' value='댓글 달기'/><br>
        </form> 

    {% endblock %}
{% endblock %}
