<h1>강의 정보</h1>
<a href = "{% url 'supporter:LoginProf' %}">로그아웃</a><hr>
<form action = "{% url 'supporter:LecChange' user.pk lect.pk %}" method = 'get'>
        {% csrf_token %}
    강의명 : {{ lect.lec_name }}<br>
    강의 년도 : {{ lect.lec_year }}  {{ lect.lec_seme}}학기<br>     
    강의 소개 : {{ lect.lec_info }}<br>
    <input type='submit' value='강의정보수정' /><br>
</form>

<form action = "{% url 'supporter:lecdeld' user.pk lect.pk %}" method = 'post'>
    {% csrf_token %}

    <input type='submit' value='강의삭제'/><br>
</form>
<a href = "{% url 'supporter:ProfUser' user.pk %}">강의 선택으로 돌아가기</a>
<hr>
<hr>
<div id="content">
    {% block content %}
    {% block reportList %}
    {% endblock %}
        <li><a href = "{% url 'supporter:BoardList' user.pk lect.pk %}" method = 'get'>게시판 가기</a></li>    
        <li><a href = "{% url 'supporter:ReportList' user.pk lect.pk %}" method = 'get'>과제관리 가기</a></li> 
        <li><a href = "{% url 'supporter:AttendBook' user.pk lect.pk %}" method = 'get'>출석부 보기</a></li>
    {% endblock %}
</div>